/*
 * Hide the heading for the layout paragraphs
 */
.paragraph.paragraph--type--pb-layout > .paragraph__heading__wrapper {
  display: none;
}

/*
 * Styles of the content paragraphs (rich text, image, video, etc...)
 */
.paragraph:not(.paragraph--type--pb-layout) {
  margin: 1em 1em;
}

.paragraph:not(.paragraph--type--pb-layout) .paragraph__heading__wrapper {
  background-color: rgba(0, 0, 0, .05);
  padding: .5em 1em;
}

.paragraph:not(.paragraph--type--pb-layout) .paragraph__heading {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: start;
}

.paragraph:not(.paragraph--type--pb-layout) .paragraph__heading .paragraph__heading__icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 1em;
}

.paragraph:not(.paragraph--type--pb-layout) .paragraph__content {
  padding: .5em;
  font-size: 1em;
}
